name: crucible-merged

on:
  pull_request_target:
    types: [ closed ]
    branches: [ master ]
    paths:
    - .github/workflows/crucible-merged.yaml
    - workshop.pl
    - schema.json
    - registries-schema.json
  workflow_dispatch:

jobs:
  call-core-crucible-ci_if-merged:
    if: github.event.pull_request.merged == true
    uses: perftool-incubator/crucible-ci/.github/workflows/core-release-crucible-ci.yaml@main
    with:
      ci_target: "workshop"
      ci_target_branch: "master"
      github_workspace: "$GITHUB_WORKSPACE"
      bypass_controller_build: "yes"
    secrets:
      production_registry_auth: ${{ secrets.CRUCIBLE_PRODUCTION_ENGINES_REGISTRY_AUTH }}
      quay_oauth_token: ${{ secrets.CRUCIBLE_QUAYIO_OAUTH_TOKEN }}
